.aboutus-text {
    font-size: 50px;
    font-weight: 600;
    color: #0E2279;
}

.aboutus-maindiv {
    margin: 20px 50px;
}


@media only screen and (max-width: 600px) {
    
    .aboutus-maindiv {
        margin: 20px 20px;
        text-align: justify;
    }

    .aboutus-p {
        margin-top: 0;
    }

    .aboutus-text {
        margin-bottom: 4px;
    }

}