.navbar-div {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    background-color: #F8F8F8;
    padding: 0 40px;
}

.upper-navbar {
    display: flex;
    justify-content: space-around;
    background-color: #F8F8F8;
}

.innerlinks-div, .innerlinks-diver {
    display: flex;
    gap: 70px;
}

.nav-links {
    display: flex;
    gap: 50px;

}

.logo {
    height: 80px;
}

.menu-icon{
    display: none;
}

@media only screen and (max-width: 1000px) {
    .upper-navbar {
        display: block;
    }
    .menuandlogo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 29px;
    }
    
    .menu-icon {
        font-size: 40px;
        cursor: pointer;
        /* display: flex; */
        display: inline-block;
    }

    .navbar-div {
        flex-direction: column;
        padding-bottom: 0px;
    }
    
    .innerlinks-div  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        width: 100%;
    }

    .innerlinks-diver {
        display: none;
    }

    .nav-links {
        flex-direction: column;
        gap: 2px;
        /* display: inline-block; */
        margin-bottom: 20px;
        width: 100%;
    }
    
    .nav-links a {
        /* border: 1px solid #a1a1a1; */
        height: 40px;

    }

    .btn-div {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 600px) {

    .navbar-div {
        padding: 0 10px;
    }

    .logo {
        height: 70px;
    }

    .donate-btn {
        height: 40px;
        width: 90px;
        padding: 0;
    }

    .nav-links {
        font-size: 14px;
        /* gap: 30px; */
    }
}

  