.navbar-div {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 0 40px;
}

.nav-links {
    display: flex;
    gap: 50px;

}

.logo {
    height: 120px;
}

@media only screen and (max-width: 600px) {

    .navbar-div {
        padding: 0 10px;
    }

    .logo {
        height: 70px;
    }

    .donate-btn {
        height: 40px;
        width: 90px;
        padding: 0;
    }

    .nav-links {
        font-size: 14px;
        gap: 30px;
    }
}